


.resources{
	background-image: url('../../assets/images/background/japanese_pattern_background.jpg');
	/* background-repeat: repeat-y; */
	height: 100vh;
	background-size: auto;
	/* background-repeat: repeat; */
	/* background-position: center center; */
	/* z-index: -10; */
	position: relative;
	top: 0;
	bottom: 0;

}

.resources-overlay{
	background-color: rgba(0, 0, 0, 0.5);
	position: absolute;
	/* height: 100vh; */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	/* z-index: -5; */
}

.resources-title{
	/* font-family: 'Murasaki'; */
	color: white;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 2em;
}