


.work{
	background-image: url('../../assets/images/background/japanese-seamless-pattern-cut-out.jpg');
	/* background-repeat: repeat-y; */
	height: 190vh;
	background-size: auto;
	/* background-repeat: repeat; */
	/* background-position: center center; */
	/* z-index: -10; */
	position: relative;
	top: 0;
	bottom: 0;

}

.work-overlay{
	background-color: rgba(255, 255, 255, 0.7);
	position: absolute;
	/* height: 100vh; */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	/* z-index: -5; */
}

.work-title{
	/* font-family: 'Murasaki'; */
	color: black;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

.work-divider{
	font-size: 1.5em !important;
}

/* height of 10% as an arbitrary number. looks the same at 20% also */
/* img.ui.medium.middle.aligned.image{
	height: 10%;
} */

.work-card-image-argo{
	margin-left: auto;
	margin-right: auto;
}

/* center modal description */
.work-modal-desc{
	margin: auto 0;
}

.work-card-modal-image{
	height: 10% !important;
}

/* .work-modal-img{
	height: 30%;
} */

/* .work-images{
	width: 10% !important;
} */