/* file named 'working'. git was automatically capitalizing file name causing */
/* an issue when compiled on heroku */


.work{
	background-image: url('../../assets/images/background/japanese-seamless-pattern-cut-out.jpg');
	min-height: 100vh;
	background-size: auto;
	position: relative;
	top: 0;
	bottom: 0;
}

.work-overlay{
	background-color: rgba(255, 255, 255, 0.7);
	min-height: 100vh;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
}

.work-grid{
	margin-top: 9%;
	margin-bottom: 2%;
}

.work-title{
	color: black;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 3em;
}

.work-divider{
	padding-top: 4%;
	padding-bottom: 4%;
	font-size: 1.8em !important;
}


.work-card-image-argo{
	margin-left: auto;
	margin-right: auto;
}

/* center modal description */
.work-modal-desc{
	margin: auto 0;
}

.work-card-modal-image{
	height: 10% !important;
}

.work-card-header{
	color: gray !important;
	font-style: oblique;
}


.work-grid-row{
	display: flex !important;
	align-items: center !important;
}

.work-images{
	display: block !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

.work-button{
	font-family: 'Cagliostro' !important;
}

.work-grid-logo{
	margin-bottom: 5% !important;
}