.footer-position{
	position:absolute;
	left:0;
	bottom:0;
	right:0;
	padding: 2em 0em !important;
}

/* div.item:visited,a.footer-link:hover,div.item:active{
	color: white !important;
}

div.ui.inverted.link.list:hover{
	color: white !important;
} */

