@font-face{
	font-family: 'Murasaki';
	src: url(../../assets/fonts/Murasaki.otf) format('opentype');
}

@font-face{
	font-family: 'Sweet';
	src: url(../../assets/fonts/kssweetheavycalligraphy.ttf) format('truetype');
}

h2.ui.header{
	color: white;
}

.landing{
	flex: 1;
	background-image: url('../../assets/images/background/black-japanese-wave-gold-line.jpg');
	/* background-repeat: repeat-y; */
	min-height: 170vh;
	/* height: 170vh; */
	background-size: auto;
	/* background-repeat: repeat; */
	/* background-position: center center; */
	/* z-index: -10; */
	position: relative;
	top: 0;
	bottom: 0;

}

.landing-overlay{
	background-color: rgba(0, 0, 0, 0.7);
	position: absolute;
	/* height: 100vh; */
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	/* z-index: -5; */
}



.landing-jText{
	margin-top: 11%;
	font-family: 'Sweet';
	color: white;
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 5vw;
}

.landing-eText{
	/* font-family: 'Josefin Sans', sans-serif; */
	font-family: 'Carrois Gothic SC', sans-serif;
	/* font-weight: 900; */
	margin-top: 6%;
	color: white;
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	/* font-size: 5.5em; */
	font-size: 4vw;
}

.landing-title{
	margin-top: 3%;
	margin-bottom: 8%;
	color: white;
	position: absolute;
	left: 0;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size: 1.7vw;
}

.landing-my-pic{
	width: 14%;
	height: auto;
	position: absolute;
	left: 43%;
	top: 20%;
	z-index: 1;
}

.landing-desc{
	/* font-family: 'Murasaki'; */
	color: white;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 2em;
	margin-bottom: 4%;
}

.landing-paragraph{
	color: white;
	font-size: 1.4em;
	margin-bottom: 1%;
}

.landing-header{
	/* color: red !important; */
	/* font-style: oblique; */
	font-family: 'Carrois Gothic SC' !important;
}


/* for modal. but this affects all modals*/
/* .ui.dimmer{
	background-color: transparent !important;
}

.ui.modal>.content,.ui.modal{
	background: none !important;
	width: 300px !important;
	box-shadow: none !important;
}

.ui.modal>.close{
	top: 0rem !important;
	right: 0rem !important;
} */

@media (min-width: 401px) and (max-width: 600px) {
	.landing-reveal{
		font-size: 4em;
	}
} 

@media only screen and (max-width: 400px) {
	.landing-reveal{
		font-size: 3em;
	}
} 