/* @import url('https://fonts.googleapis.com/css?family=Cagliostro'); */


.contact{
	background-image: url('../../assets/images/background/umbrella.png');
	/* background-repeat: repeat-y; */
	min-height: 100vh;
	background-size: auto;
	/* background-repeat: repeat; */
	/* background-position: center center; */
	/* z-index: -10; */
	position: relative;
	top: 0;
	bottom: 0;
}

.contact-overlay{
	background-color: rgba(0, 0, 0, 0.7);
	
	/* position: absolute; */
	
	min-height: 100vh;
	top: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	/* z-index: -5; */
}


.contact-grid-row{
	margin-top: 9%;
	margin-bottom: 2%;
}

.contact-title{
	/* font-family: 'Murasaki'; */
	color: white;
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	font-size: 3em;
}

.contact-desc{
	font-family: 'Cagliostro' !important;
	color: white !important;
	font-size: 1.7em !important;
	font-weight: normal !important;
	margin-bottom: 2% !important;
}

.contact-phone{
	align-items: flex-end;
}

.contact-left-column{
	color: white;
}

.contact-left-copy{
	font-size: 1.4em !important;
}

.contact-list{
	margin-top: 20% !important; 
	margin-left: 20% !important;
}

.contact-list-content{
	color:white !important;
}

.contact-list-content:visited,.contact-list-content:active{
	color: white !important;
}

.contact-list-content:hover{
	color: grey !important;
}

.contact-form{
	/* margin-top: 20% !important;  */
	/* margin-left: 20% !important; */
}

.contact-iframe{
	width: 100vw;
	height: 100vh;
}

.contact-modal-header-row,.contact-modal-action{
	display: flex !important;
	justify-content: center !important;
}

.contact-modal-header{
	color: white !important;
}

.contact-modal-grid{
	display: flex !important;
	justify-content: center !important;
	margin-bottom: 1% !important;
}

.contact-modal-header,.contact-modal-button{
	font-family: 'Cagliostro' !important;
}

.contact-grid-row-entries{
	margin-bottom: 5% !important;
}

.contact-resume{
	cursor: pointer;
}

.contact-recaptcha{
	margin-top: 6%;
	margin-bottom: 5%;
}